:root {
  --primary: #fff;
  --black: #1b1f23;
  --gray: #586069;
  --gray-light: #6a737d;
  --gray-dark: #24292e;
  --orange: #f9826c;
  --logo: #fff;
  --header: #24292e;
  --username: #666;
  --search: hsla(0, 0%, 100%, 0.125);
  --search-placeholder: hsla(0, 0%, 100%, 0.75);
  --icon: #6a737d;
  --link: #0366d6;
  --border: #e1e4e8;
  --ticker: rgba(209;213;218;.5);

  --calendar-scale-0: #ebedf0;
  --calendar-scale-1: #9be9a8;
  --calendar-scale-2: #3fc463;
  --calendar-scale-3: #30a14e;
  --calendar-scale-4: #216e3a;
  --javascript: #f1e05a;
  --typescript: #2b7489;
  --other-language: #8257e5;
}
